html {
    font-size: 100%; /* keep */
    box-sizing: border-box; /* keep */
}
* {
    box-sizing: inherit; /* keep */
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Cabin', sans-serif;
    font-size: 1.2rem;
    color: #fff;
    background: #808080;
    text-align: center;
    margin: 0;
}

h1 {
  text-align: center;
  font-family: 'Roboto Slab', serif;
}

img {
    max-width: 100%;
}

#about {
  text-align: center;
  align-content: center;
  padding: 0 20% 0 20%;
}

#musicSamples {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 5% 5% 5%;
}

#albums {
  margin-bottom: 5%;
}

footer {
  background-color: #000;
  color: #FFF;
  padding: 1% 1% 1% 1%;
  margin: 0;
  width: 103%;
}

a {
    color: #4bb5cc;
}
a:hover {
    color: #82E8FF;
}

@media screen and (max-width:720px) {
  #about {
    text-align: center;
    align-content: center;
    padding: 0 5% 0 5%;
  }
}
